.cardContainer{
    width:97%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 17px;
    padding-bottom: 90px;
    gap:30px;
    p{
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
    }
}
.card{
    overflow-x: auto;
    scrollbar-width: none;
    height: auto;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(175deg,rgb(203, 203, 203),rgb(255, 255, 255));
    box-shadow: 0 2px 10px rgba(0,0,0,0.4);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
}
.card:hover{
    transform: translateY(-5px);
    background: linear-gradient(175deg,rgb(186, 186, 186),rgb(253, 249, 249));
    box-shadow: 0 2px 10px rgba(0,0,0,0.7);
    transition: all 0.3s ease;

}
.cardMain{
    width: 100%;
    min-height:45px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    border-radius: 8px 8px 0 0;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardMain h3{
    font-size: larger;
    min-width: 130px;
    overflow: hidden;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.extraOptions{
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.extraOptions img{
    height:30px;
}
.cardHero{
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.cardHero h4{
    max-width: 105px;
    min-width: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Libre Baskerville';
}
.categoryMain{
    display: flex;
    gap: 12%;
}
.items{
    height:70%;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.cardHero span{
    color: rgb(127, 125, 125);
}
.cardHero a{
    color: rgb(17, 43, 130);
    text-decoration: none;
    font-family: 'Roboto Slab';
}
.cardHero a:hover{
    text-decoration: underline;
}


/* new category add form */
.addMoreCategory{
    min-width:130px;
    max-height: 130px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 0%;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    
}
.addMoreCategory span{
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.saveAddMoreCategory{
    width:75px;
    height: 25px;
    max-height:140px;
    margin-left: 6%;
    border:none;
    border-radius: 5px;
    color: #ffffff;
    background: rgb(79, 79, 205);
    font-size: small;
    font-weight: 500;
}
.newCategory{
    width: 130px;
    height: 25px;
    font-size: 15px;
    color: rgb(139, 138, 138);
    background: transparent;
    border: none;
    border-bottom: 0.5px solid grey;
}
.newCategory::placeholder{
    text-align: end;
}
.newCategoryDiv{
    width: auto;
    display: flex;
    justify-content: flex-start;
}
.addMoreLinks,.deleteCategory,.editCategory{
    max-height: 20px;
    border-radius: 50%;
    border: none;
    background:transparent;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.addMoreLinks img,.deleteCategory img,.editSubjectCategory{
    height: 100%;
}


/* new files add form */
.addMoreFilesForm{
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100px;
    padding: 10px;
    width: 98%;
    align-self: center;
    border-radius: 8px;
    background: linear-gradient(175deg,rgb(203, 203, 203),rgb(255, 255, 255));
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    gap: 10px;
    font-family: 'Libre Baskerville';
}
.addMoreFilesForm .inputs{
    display: flex;
    align-items: center;
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: small;
}
.addNewTitle,.addNewLink{
    width: 130px;
    height: 20px;
    font-size: smaller;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.addMoreFilesForm span{
    min-width:80px;
}
.saveAddedFiles{
    width: 70px;
    padding: 4px;
    border: none;
    background: rgb(58, 58, 199);
    color: white;
    border-radius: 5px;
    font-size: small;
}

@media screen and (max-width: 768px) {
    .cardContainer{
        width:100%;
        padding: 8px;
    }
    .cardMain h3{
        font-size: medium;
    }
    .categoryMain{
    display: flex;
    justify-content: space-between;
    }
    .newCategory{
        width: 120px;
        height: 20px;
        font-size: 13px;
    }
}

@media screen and (max-width: 768px){
    .addMoreCategory span{
        width:135px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .saveAddMoreCategory{
        height: 20px;
    }
    .newCategory{
        width: 100px;
        height: 20px;
        font-size: 12px;
    }
}