.cardContainer{
    width:97%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
    gap:30px;
    p{
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-size: large;
    }
}
.card{
    overflow-x: auto;
    scrollbar-width: none;
    height: 80px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    cursor: pointer;
}
.cardMain{
    width: 100%;
    height:40%;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.extraOptions{
    width:30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.extraOptions img{
    height:90%;
}
.cardHero{
    height:70%;
    width: 100%;
    padding: 10px;
    display: flex;
    gap: 25px;
    align-items: center;
}
.cardHero span{
    color: rgb(127, 125, 125);
}

@media screen and (max-width: 768px) {
    .cardContainer{
        width:100%;
    }
}