.cardContainer {
    width: 97%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 17px;
    padding-bottom: 90px;
    gap: 30px;
    background: transparent;

}

.cardContainer p {
    font-style: italic;
    font-family: 'Roboto Slab', Times, serif;
    font-size: large;
    margin: 0;
    justify-self: center;
}

.card {
    overflow-x: auto;
    scrollbar-width: none;
    height: auto;
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(180deg, #121b30, #1e2943);
    /* box-shadow: 0 2px 10px rgba(58, 88, 144, 0.4); */
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-4px) scale(1.01);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.miniCard {
    padding-left: 10px;
    display: flex;
}

.miniCard span {
    padding: 5px 0 5px 0;
}

.cardMain {
    width: 100%;
    min-height: 43px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 0 0;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expandCard {
    width: 27px;
    padding: 5px;
    height: 98%;
    transition: all 0.2s ease;
    border-radius: 6px;
    background: linear-gradient(160deg, #56aacd, #c567c2);
}

.formAddImg {
    max-width: 5%;
    padding: 2px;
    transition: all 0.2s ease;
    border-radius: 4px;
    background: #3b82f6;
}

.cardMain h3 {
    font-size: larger;
    min-width: 130px;
    overflow: hidden;
    width: 50%;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.extraOptions {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.extraOptions img {
    height: 25px;
    border-radius: 7px;
    background: linear-gradient(160deg, #56aacd, #c567c2);
    padding: 2px;
    margin: 2px;

}

.cardHero {
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    display: none;
    gap: 6px;
}


.fileImg {
    height: 20px;
    align-self: self-end;
}

.categoryMain {
    display: flex;
    width: 100%;
    gap: 10%;
    height: auto;
}

.categoryMain h4 {
    min-width: 110px;
    max-width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Roboto Slab';
    text-align: start;
    font-size: 17px;
    margin: 0 0 1px 0;

}

.item {
    height: 70%;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 10px;
}

.cardHero span {
    color: rgb(127, 125, 125);
}

.cardHero a {
    text-decoration: none;
    font-family: 'Inter';
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.linkImg {
    height: 12px;
}

.cardHero a:hover {
    text-decoration: underline;
}


/* new category add form */
.addMoreCategory {
    min-width: 130px;
    max-height: 130px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 0%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);

}

.addMoreCategory span {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.saveAddMoreCategory {
    width: 75px;
    height: 25px;
    max-height: 140px;
    margin-left: 6%;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background: #2169c6;
    font-size: small;
    font-weight: 500;
}

.newCategory {
    width: 130px;
    height: 25px;
    font-size: 15px;
    color: rgb(167, 164, 164);
    background: rgb(40, 53, 67);
    border:0.2px solid rgb(61, 69, 83);
    font-size: small;
}

.newCategory::placeholder {
    text-align: end;
}

.newCategoryDiv {
    width: auto;
    display: flex;
    justify-content: flex-start;
}

.addMoreLinks,
.deleteCategory,
.editCategory {
    max-height: 20px;
    border-radius: 50%;
    border: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20px;


}

.addMoreLinks img,
.deleteCategory img,
.editSubjectCategory {
    height: 100%;
    padding: 2px;
    background: linear-gradient(160deg, #56aacd, #c567c2);
    border-radius: 7px;
}


/* new files add form */
.addMoreFilesForm {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100px;
    padding: 10px;
    width: 98%;
    align-self: center;
    border-radius: 8px;
    background: linear-gradient(130deg, #151f35, #232f4c);
    box-shadow: 0 2px 10px rgba(30, 74, 132, 0.3);
    gap: 10px;
    font-family: 'Libre Baskerville';
}

.addMoreFilesForm .inputs {
    display: flex;
    align-items: center;
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: small;
}

.addNewTitle,
.addNewLink {
    width: 130px;
    height: 20px;
    font-size: smaller;
    background: rgb(39, 52, 76);
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 4px;
    border: #333c50;

}

.addNewTitle::placeholder,
.addNewLink::placeholder {
    color: rgb(176, 175, 175);
    
}

.addMoreFilesForm span {
    min-width: 80px;
}

.saveAddedFiles {
    width: 70px;
    padding: 4px;
    border: none;
    background: #2169c6;
    color: white;
    border-radius: 5px;
    font-size: small;
}


/* for deleting files */
.deleteFiles {
    width: 17px;
    opacity: 0;
    transition: opacity 0.1s ease, transform 0.4s ease;

}

.item:hover .deleteFiles,
.item:active .deleteFiles {
    opacity: 1;
}



@media screen and (max-width: 768px) {
    .cardContainer {
        width: 100%;
        padding: 8px;
    }

    .cardMain h3 {
        font-size: medium;
    }

    .categoryMain {
        display: flex;
        justify-content: space-between;
    }

    .newCategory {
        width: 120px;
        height: 20px;
        font-size: 13px;
    }

    .expandCard {
        width: 24px;
        /* padding: 3px; */
        height: 100%;
    }
}

@media screen and (max-width: 428px) {
    .addMoreCategory span {
        width: 135px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .saveAddMoreCategory {
        height: 20px;
    }

    .newCategory {
        width: 100px;
        height: 20px;
        font-size: 12px;
    }

    .item {
        gap: 5px;
    }

    .extraOptions img {
        width: 19px;
        height: 100%;
    }

    .expandCard {
        width: 22px;
        height: 100%;
    }
}