*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:'Roboto Slab' ;
}
#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
}
html{
    background-color: #eae8e8;
    height: 100%;
}
header{
    height:70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b5baf;
    color:#362F4F;
    padding:10px;
    
}
.logo{
    height:100%;
    width:60%;
    display: flex;
    justify-content: flex-start;
    box-shadow: 20px 20px 100% rgb(114, 114, 114);
}
.logoImg{
    height: 100%;
    width:11%;
    display: flex;
    justify-content: center;
}
.logoImg>img{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
}
.nameofLogo{
    height: 100%;
    width:75%;
    padding:2px 5px 2px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size:min(4vw,1.3rem);
    font-family: roboto;
    color: white;
}
main{
   height:90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.searchbar{
    width:100%;
    height:12%;
    max-height: 100px;
    border-radius: 8px;
    font-size: large;
    display: flex;
    
    padding:15px;
    
    
    
}
.searchbar>img{
    width:5%;
    height: 90%;
    background:white ;
    border: none;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 4px;
    box-shadow: -6px 2px 10px rgba(0,0,0,0.3) ;
}
.searchbar>input{
    width:95%;
    height:90%;
    background:white;
    border-radius: 0% 5px 5px 0%;
    border: none;
    border-left: none;
    font-size: large;
    padding-left: 0%;
    box-shadow:6px 2px 10px rgba(0,0,0,0.3) ;
    color: rgb(105, 102, 102);
}

#addResources{
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    background-color: #2169c6;
    color: #eae8e8;
    width:20%;
    height: 40px;
    border-radius: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size:15px;
    border: none;
}
#addResources:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
    transition: all;
    transform: scale(1.05);

}
.items{
    width: 98%;
    height:100px;
    background-color: rgb(186, 186, 186);
    border:1px solid black;
}

#addnew{
    position: fixed;
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: #356cb3;
    box-shadow: 0 2px 10px rgba(11, 40, 167, 0.4);
    z-index: 20;
    bottom: 20px;
    right: 20px;
    text-align: center;
    border: none;
    color: #dfe1e2;
    font-size: 55px;
    font-weight: 600;
    padding: 5px;
    transition: transform 0.3s ease;
    img{
        height:100%;
        width: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}
#addnew:hover{
    box-shadow: 0 2px 10px rgba(7, 25, 104, 0.6);
    background:#285795 ;
}


@media screen and (max-width: 768px) {
    header{
        height:65px;
        font-size: 0.9rem;
    }
    .logoImg{
        width: 16%;
        height: 100%;
    }
    .searchbar{
        max-height: 75px;
        min-height: 68px;
        height: 11.5%;
        padding:8px;
        padding-top: 13px;
        img{
            width:6%;
        }
    }
    #addResources{
        width: 35%;
    }
    #addnew{
    width: 55px;
    height: 55px;
    border-radius: 30px;
    font-size: 50px;
    font-weight: 700;
    }
}

@media screen and (max-width: 428px) {
    header{
        height:60px;
        font-size: 0.9rem;
    }
    .nameofLogo{
        font-size:small;
    }
    .logoImg{
        width:14%;
    }
    .searchbar{
        min-height:55px;
        max-height: 60px;
        padding: 4px;
        padding-top: 10px;
        img{
            width:12%;
        }
        input{
            padding:3px;
            font-size: smaller;
        }
    }
    #addResources{
        width: 45%;
    }
    #addnew{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-size: 50px;
    font-weight: 700;
    }
}